<% content_for :header_tags do %>
  <%= stylesheet_link_tag "font-awesome.min.css", :plugin => "vault" %>
  <%= javascript_include_tag 'vault', :plugin => 'vault' %>
<% end %>

<h2><%= t('key.title.new') %></h2>

<%= render partial: 'form', locals: { key: @key, action: :create } %>
