<table>
   <tr>
     <td>Lock</td>
     <td>Owner</td>
     <td>File</td>
   </tr>
   <tr>
     <td><%= key_file.name %></td>
     <td><%= key_file.login %></td>
     <td><label id='plain_pass'><%= key_file.file %></label></td>
   </tr>
</table>
