<table>
   <tr>
     <td>Lock</td>
     <td>Owner</td>
     <td>Password</td>
   </tr>
   <tr>
     <td><%= password.name %></td>
     <td><%= password.login %></td>
     <td><label id='plain_pass'><%= password.pass %></label></td>
   </tr>
</table>
