<tr class='key <%= defined?(parity) ? parity : '' %>'>
  <td class='checkbox hide-when-print'>
    <%= check_box_tag('ids[]', sftp.id, false, id: nil) %>
  </td>
  <%= render partial: 'shared/key_fields', locals: {key: sftp} %>
  <td class='buttons'>
    <%= render partial: 'shared/key_actions', locals: {key: sftp} %>
  </td>
</tr>
